[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
celery = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.6"
