body {
  margin: 0;
  background-color: #020515;
  font-family: 'open sans','helvetica neue',helvetica,arial,sans-serif;
  overflow: overlay;
}
::-webkit-scrollbar {
  position: fixed;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #007981;
}

::-webkit-scrollbar-thumb:hover {
  background: #4623A7;
}

html {
  scroll-behavior: smooth;
}
